/node_modules/
/lib/
/test/
custom-elements.json
# top level source
spatial-picker.js
spatial-picker.js.map
spatial-picker.d.ts
spatial-picker.d.ts.map
# only generated for size check
spatial-picker.bundled.js